@model IEnumerable<fromInputToDataase.Models.AccountDto>

@{
    ViewData["Title"] = "SearchInDB";
}

<h1>SearchInDB</h1>

<p>
    <a style="text-decoration:none; font-weight:550" href="Index">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                 <a style="text-decoration:none; font-weight:550; margin-right:12px" href="~/Home/Delete?id=@item.Id">Sterge</a>
                <a style="text-decoration:none; font-weight:550" href="~/Home/EditById?id=@item.Id">Modifica</a>
            </td>
        </tr>
}
    </tbody>
</table>
